.home {
  height: auto;
}

.navbar-area{
  top: 3em !important;
}

.diferente{
  height: auto
}

.btnSubmit{
  width: 40%;
  border-radius: 5px;
  padding: 2.5%;
  border: none;
  cursor: pointer;
  margin: auto;
  display: block;
  background-color: #FF8C00;
}

.icons-more {
  margin: 2em;
    display: flex;
    justify-content: space-between;
    color: white;
}

input{
  color:#fff;
  font-weight: 700;
}

.start{
  color: yellow;
  position:relative;
  text-align: center;
}

.row-paralax {
  padding-top: 12%; 
  text-align: center;
  padding-bottom: 12%;
}

.paralax {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.67), rgba(25, 26, 27, 0.19)), url(img/index/parallax.jpg);
  background-attachment: fixed;
  height: auto; 
  background-repeat: no-repeat; 
  background-size: 100% 100%; 
  padding: 1em;
}

.statistic-block{
  color: white;
}

.footer-element {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 26px 0;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    opacity: 0.8;
}

.ac {
  color: white;
  text-decoration: none;
}

.elementCard{
  width: auto; 
  margin: 1.5em;
}

.ac:hover {
  text-decoration: none;
  color: #FF8C00;
}

.space {
  margin-top: 8em;
}
.space2 {
  margin-top: 2.5em;
}


@media (max-width: 540px) {
  .navbar-area {
    top: 4em !important;
  }
  .home {
    height: auto;
  }
  .elementCard{
    height: auto;
    width: auto;
    margin: 1em;
    text-align: center;
  }
  .btnSubmit{
    margin-top: 1.5em;
  }
  p{
    margin-top: 1.5em;
  }
  .footer-element {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    padding: 26px 0;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    opacity: 0.8;
  }
  .paralax {
    height: auto;
  }
  .row-paralax {
    padding-top: 0; 
    text-align: center;
  }
  .diferente {
    height: auto;
  }
}

@media (min-width: 992px) {
  .elementCard{
    width: auto; 
    height: 16rem;
    margin: 1.5em;
  }
}



.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 99; }
  .navbar-area .navbar {
    position: relative;
    padding: 0; }
    .navbar-area .navbar .navbar-toggler {
      background-color: #FF7B02;
      height: 50px;
    }
    .navbar-area .navbar .navbar-toggler .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: black;
      font-weight: 800;
      margin: 5px 0;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
      opacity: 0; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      top: -7px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-area .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #f4f6f7;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
    @media (max-width: 767px) {
      .navbar-area .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #f4f6f7;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
    .navbar-area .navbar .navbar-nav .nav-item {
      margin: 0 16px;
      position: relative; }
      .navbar-area .navbar .navbar-nav .nav-item a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        padding: 26px 0;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        opacity: 0.8;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navbar-area .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block;
            color: #3C3B40; } }
        @media (max-width: 767px) {
          .navbar-area .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block;
            color: #3C3B40; } }
        .navbar-area .navbar .navbar-nav .nav-item a::before {
          position: absolute;
          content: '';
          width: 32px;
          height: 4px;
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
          background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, white 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, white 100%);
          left: 50%;
          margin: 0 2px;
          bottom: 14px;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          -webkit-transform: translate(-50%) scaleX(0);
          -moz-transform: translate(-50%) scaleX(0);
          -ms-transform: translate(-50%) scaleX(0);
          -o-transform: translate(-50%) scaleX(0);
          transform: translate(-50%) scaleX(0); }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item a::before {
              display: none; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item a::before {
              display: none; } }
      .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
        opacity: 1;
        color: #FF7B02; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
            color: #3C3B40; } }
        @media (max-width: 767px) {
          .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
            color: #3C3B40; } }
        .navbar-area .navbar .navbar-nav .nav-item.active > a::before, .navbar-area .navbar .navbar-nav .nav-item:hover > a::before {
          -webkit-transform: translate(-50%) scaleX(1);
          -moz-transform: translate(-50%) scaleX(1);
          -ms-transform: translate(-50%) scaleX(1);
          -o-transform: translate(-50%) scaleX(1);
          transform: translate(-50%) scaleX(1); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 70px;
        top: 7px; } }
    @media (max-width: 767px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 60px;
        top: 7px; } }
    .navbar-area .navbar .navbar-btn li {
      display: inline-block;
      margin-right: 5px; }
      .navbar-area .navbar .navbar-btn li a {
        padding: 10px 16px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        border: 2px solid;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .navbar-area .navbar .navbar-btn li a.light {
          border-color: #fff; }
          .navbar-area .navbar .navbar-btn li a.light:hover {
            background-color: rgba(255, 255, 255, 0.4); }
        .navbar-area .navbar .navbar-btn li a.solid {
          background-color: #fff;
          border-color: #fff;
          color: #F23D6D; }
          .navbar-area .navbar .navbar-btn li a.solid:hover {
            background-color: transparent;
            color: #fff; }
  .navbar-area.sticky {
    background-color: #fff;
    z-index: 999;
    position: fixed;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
    -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
    box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); }
    .navbar-area.sticky
    .navbar-area.sticky .navbar .navbar-toggler .toggler-icon {
      background-color: #3C3B40; }
    .navbar-area.sticky .navbar .navbar-nav .nav-item a {
      color: #3C3B40;
      opacity: 0.7; }

      .navbar-area.sticky .navbar .navbar-nav .nav-item a:hover {
        color: #F23D6D;
        opacity: 1; }
      .navbar-area.sticky .navbar .navbar-nav .nav-item a::before {
        background: -webkit-linear-gradient(90deg, rgba(242,61,109,1) 5%, rgba(255,167,183,1) 73%);
        background: -o-linear-gradient(90deg, rgba(242,61,109,1) 5%, rgba(255,167,183,1) 73%);
        background: linear-gradient(90deg, rgba(242,61,109,1) 5%, rgba(255,167,183,1) 73%); }
    .navbar-area.sticky .navbar .navbar-nav .nav-item.active a,
    .navbar-area.sticky .navbar .navbar-nav .nav-item:hover {
      color: #F23D6D;
      opacity: 1; }
    .navbar-area.sticky .navbar .navbar-btn li a.light {
      border-color: #F23D6D;
      color: #F23D6D; }
    .navbar-area.sticky .navbar .navbar-btn li a.solid {
      border-color: #F23D6D;
      background-color: #F23D6D;
      color: #fff; }

      