@media (min-width:320px)  { 
  .login-container{
    padding: 1.5em;
    margin-top: 10%;
  }
 }
@media (min-width:480px)  {  
    .login-contaizer{
    margin-top: 15%;
    margin-bottom: 3%;
    margin-left: .5em;
  }
}
@media (min-width:1025px) { 
  .login-container{
    margin-top: 2.5%;
    margin-bottom: 2%;
    max-width: 1038px;
    margin-left: 10em;
  }
}
@media (min-width:1281px) { 
  .login-container{
    padding: 0;
    margin-top: 8%;
  }
 }
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background: white;
}
.login-form-1 h1{
  text-align: center;
  color: #333;
}
.login-form-1 h6{
  text-align: center;
  color: #333;
}
.login-form-2{
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 4%;
}
.btnSubmit
{
  width: 100%;
  border-radius: 5px;
  padding: 2.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-size: 15px;
  text-decoration: none;
}

.login-section{
  background-color: #AF491E;
}

hr {
  width: 15em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-style{
  position: absolute;
  width: 1.3rem;
  height: 2.8rem;
  color: #aaa;
  margin-left: .5em;
}

.form-group .form-control {
  padding: .575rem 3rem;
}
