* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #AF491E;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.register {
  width: calc(900px - 2rem);
  min-height: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
}

@media (max-width: 768px) {
  .register {
    width: 90%;
  }
}

.register span {
  color: #AF491E;
  font-size: 12px;
}

.register p {
  color: #AF491E;
  font-size: 12px;
  text-align: right;
}

.other__row{
  background: #BBBBBB;
  margin: 1rem 0;
  padding: 1rem;
}

a {
  display: inline-block;
  transition: 0.3s ease-in-out;
  color: #AF491E;
}

a:hover {
  transition: 0.3s ease-in-out;
  color: #AF491E;
  text-decoration: none;
  font-weight: 600;
}


.btn-custom {
  background: #AF491E;
  color: white !important;
  margin: 1rem 0;
  transition: 0.3s ease-in-out;
}

.btn-custom:active {
  transition: 0.3s ease-in-out;
  transform: scale(0.95);
}